@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 10px;
    text-align: center;
    background-color: #fff453;
    width: 100%;
}

#app {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#backButton {
    width: auto;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
    margin-left: 10px;
    align-self: flex-start;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #c0392b;
}

.hidden {
    display: none;
}

.product-list, .similar-products {
    width: 100%;
    overflow-y: auto;
    padding: 10px 8px;
    flex: 1;
}

.product-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
    width: 100%;
    height: 100px;
}

.image-wrapper {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 15px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.product-info h4 {
    margin: 0;
    font-size: 14px;
    color: #2c3e50;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-info p {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #54bc31;
    font-weight: 700;
}

button.show-similar {
    align-self: flex-end;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-top: 5px;
}

button.show-similar:hover {
    background-color: #2980b9;
}

.message {
    text-align: center;
    margin: 6px;
    padding: 10px;
    width: 70%;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}
